{% extends 'Home/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
<section class="pt-4 container">
    <div class="row">
        <div class="col-lg-9 row rounded-pill px-5 py-3 mb-2 justify-content-between"
            style="background-color: #fef1dc;">
            <h3 class="text-primary mb-3">Contacts me</h3>
            <div class="col-lg-3"><span class="h6">Email</span>
                <p class="lh-lg text-muted">emailaddress@email.com</p>
            </div>
            <div class="col-lg-3"><span class="h6">Address</span>
                <p class="lh-lg text-muted">Saudi Arabia - Aljubail</p>
            </div>
            <div class="col-lg-3"><span class="h6">Follow me</span>
                <p>
                    <a href="https://www.linkedin.com/in/fatimahalqadheeb/" target="_blank"><i
                            class="fa-brands fa-linkedin" style="color:#905E96;"></i></a>
                    <a href="https://github.com/fatimahalqadheeb" target="_blank"><i class="fa-brands fa-github"
                            style="color:#905E96;"></i> <br></a>
                </p>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 row">
            <h4 class="d-flex align-items-center mb-3">
                <span class="text-primary">Need a help, send a message today!</span>
            </h4>
            <div class="col-lg-8 col-md-12">
                <form class="needs-validation mb-5" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6 col-lg-12">
                            <label for="firstName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label ">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-12">
                            <label for="firstName" class="form-label">Message</label>
                            <textarea class="form-control" class="form-control" id="message" rows="6" placeholder=""
                                value="" required=""></textarea>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>

                    <!-- <hr class="my-4"> -->

                    <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Send</button>
                </form>
            </div>
        </div>


    </div>
</section>
{% endblock%}