<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
  <title>Home | Fatimah Alqadheeb</title>
</head>

<body>

  <header class="container_header">
    <div><img class="header__logo" src="/static/img/logo.png" alt="logo"></div>
    <div class="header_text">
      <h1>Fatimah Alqadheeb</h1>
      <h4>Web Developer</h4>
    </div>
  </header>

  <hr class="gray_line">

  <section class="section_one">
    <div class="colors_box">
      <div class="box light_blue">
        <p>#02bb3e4</p>
      </div>
      <div class="box dark-blue">
        <p>#02bb3e4</p>
      </div>
      <div class="box light_gray">
        <p>#02bb3e4</p>
      </div>
    </div>
    <img class="main_iamge" src="/static/img/main.jpeg" alt="main image" />
  </section>
  <section class="section_two">
    <div class="featured_text">Featured Work</div>
    <div class="featuerd_section">
      <div class="featured_box"><img class="featured_img" src="/static/img/spp.jpeg" alt="app images=" />
        <h4>Web Development</h4><a href="#">read more</a>
      </div>
      <div class="featured_box"><img class="featured_img" src="/static/img/sunflower.jpg" alt="sun flower images=" />
        <h4>E-Marketing</h4><a href="#">read more</a>
      </div>
      <div class="featured_box"><img class="featured_img" src="/static/img/sunrise.jpeg" alt="sunrise image" />
        <h4>Android App</h4><a href="#">read more</a>
      </div>

    </div>
  </section>

</body>
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</html>