{% extends 'home/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<section class="pt-4 text-center container">
    <div class="row mb-2  justify-content-center">
        <div class="col-md-9">
            <div class="row g-0 flex-md-row position-relative">
                <div class="col-md-9 pt-4 d-flex flex-column position-static text-start">
                    <h2><strong class="d-inline-block mb-2 text-primary ">Who I am!</strong></h2>
                    <h3 class="h3-title mb-0">Fatimah Alqadheeb</h3>
                    <p class=" mb-auto lh-lg text-muted">Innovative, motivated, and forward-looking
                        software developer
                        with 2
                        years of experience in web development and executing software solutions. Strong understanding of
                        software development lifecycle. Skilled in creating user interfaces, and databases and
                        implementing new features based on user feedback. Hoping to apply my experience and knowledge to
                        provide companies the technological solutions to fulfill their goals.</p>
                    <br>

                    <!-- <a href="#" class="btn btn-primary" style="width: 45%">Read more in my CV</a> -->

                </div>
                <div class="col-md-3 d-none d-lg-block round">
                    <img class="rounded-circle" src="{% static 'images/face_co.svg' %}" alt="face avatar" width="200px"
                        height="200px" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start education-->
<section class="container ">
    <div class="row mb-5  justify-content-center ">
        <div class="col-md-9">
            <div class="d-flex align-items-center rounded">
                <i class="fa-solid fa-graduation-cap fa-3x" style="color:#905E96"></i>
                <div class="lh-1 ms-3">
                    <h1 class="h2 mb-0 lh-1 text-primary mb-2">Education</h1>
                    <small class="fs-6 text-muted">Bachelor’s degree in computer sciences, King Faisal University
                        2016</small>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end education-->
<!-- start skills-->
<section class="container">
    <div class="row mb-2  justify-content-center">
        <div class="col-md-9">
            <h2 class="pb-2 mb-0 text-primary"><strong>Skills</strong></h2>
            <div class="d-flex pt-3 text-muted border-bottom">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#D58BDD"></rect><text x="50%" y="50%" fill="#D58BDD"
                        dy=".3em">32x32</text>
                </svg>

                <p class="pb-3 mb-0 small lh-sm ">
                    <strong class="d-block fs-6">Front-end Development</strong>
                    I have the ability to build the front-end of websites using different techniques. Like, Bootstrap,
                    CSS, and
                    JavaScript.
                </p>
            </div>
            <div class="d-flex text-muted pt-3 border-bottom">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#FF99D7"></rect><text x="50%" y="50%" fill="#FF99D7"
                        dy=".3em">32x32</text>
                </svg>

                <p class="pb-3 mb-0 small lh-sm ">
                    <strong class="d-block fs-6">back-end Development</strong>
                    I have a good experience with developing databases, and I have very good understanding for
                    identifying the rows and columns in DB. The type of databases I worked on such as MySQL and
                    Postgres.
                </p>
            </div>
            <div class="d-flex text-muted pt-3 border-bottom">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#FFD372"></rect><text x="50%" y="50%" fill="#FFD372"
                        dy=".3em">32x32</text>
                </svg>

                <p class="pb-3 mb-0 small lh-sm ">
                    <strong class="d-block fs-6">Web Hosting</strong>
                    I have worked with different types of portals for web hosting. Like GoDaddy, Hostgator and Saharah.
                    Also I
                    am able to work with different types of web hosting such as shared hosting or visual hosting.
                </p>
            </div>
        </div>
</section>
<!-- end skills-->
<!-- start certificates-->
<section class="container pb-3 pt-4">
    <div class=" row justify-content-center">
        <div class="col-md-9">
            <h2 class=" pb-3 mb-0 text-primary"><strong>Certificates</strong></h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card ">
                        <img src="{% static 'images/tuwaiq-academy.jpg'%}" alt="Placeholder"
                            class="bd-placeholder-img card-img-top " />
                        <div class="card-body">
                            <h5 class="card-title">Web Development with Python</h5>
                            <div class="mb-1 text-muted">Tuwaiq Academy</div>
                            <p class="card-text">Learned about the Django framework, for rapid website
                                Development.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card ">
                        <img src="{% static 'images/Front-End.jpg'%}" alt="Placeholder"
                            class="bd-placeholder-img card-img-top " />
                        <div class="card-body">
                            <h5 class="card-title">Front-End Web Developer</h5>
                            <div class="mb-1 text-muted">Udacity</div>
                            <p class="card-text">Gained experience working with JavaScript, CSS, and Website Layout.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card ">
                        <img src="{% static 'images/Android-Basics.jpg'%}" alt="Placeholder"
                            class="bd-placeholder-img card-img-top " />
                        <div class="card-body">
                            <h5 class="card-title">Android Basic</h5>
                            <div class="mb-1 text-muted">Udacity</div>
                            <p class="card-text">Learned and developed various Android mobile applications with
                                different functionalities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end certificate-->
<section class="container pb-5 pt-2">
    <div class=" row justify-content-center">
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p>Download <a href="{% static 'images/Fatimah-Alqadheeb.pdf'%}" target="_blank">my resume</a> to
                        know me better
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Contacts
                    me</button>
            </div>

            </p>
        </div>
    </div>
</section>
{% endblock%}