{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home | Fatimah Alqadheeb{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold main-title">I am Fatimah Alqadheeb</h1>
            <h4 class="fw-light sub-title">Web Developer</h4>
            <p class="lead text-muted">I love design and colors, for that I work in building front-end pages. It
                gives me the ability to use my imagination to design a window with lots of colors and intractive
                objects. I have experiance on building the back-end of websites too.<br><br> <span class="fw-bold">Need
                    some
                    work! Lets have
                    a chat Today</span>
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Learn more about me</a>
                <a href="#" class="btn btn-secondary my-2">Contact me</a>
            </p>
        </div>
    </div>
</section>
{% endblock%}