{% extends 'home/base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<section class="pt-4 text-center container">
    <div class="row mb-2">
        <h2><strong class="d-inline-block py-4 text-primary ">My recent projects</strong></h2>

        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 main-title">Personal</strong>
                    <h3 class="mb-0">Questions Game</h3>
                    <div class="mb-1 text-muted">CSS, JS, HTML</div>
                    <p class="card-text mb-auto">A challenge game for Family to test their information about the Holy
                        Quran. All design and funtion created by Fatimah Alqadheeb.</p>

                    <div class="d-flex mt-2 justify-content-between align-items-center">
                        <div class="btn-group">
                            <span class="small date-color">Date Complated 2021</span>
                        </div>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                            href="https://holy-quran-questions.herokuapp.com/" target="_blank">View</a>
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img class="" src="{% static 'images/game.jpeg' %}" alt="game" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 main-title">Corporate</strong>
                    <h3 class="mb-0">Awtar Alaqar</h3>
                    <div class="mb-1 text-muted">CSS, JS, HTML, Python, Postgresql</div>
                    <p class="card-text mb-auto">This is a contract project with an assests office. It includes
                        number of different assests for rent and sell. All functions
                        created by Fatimah Alqadheeb</p>



                    <div class="d-flex mt-2 justify-content-between align-items-center">
                        <div class="btn-group">
                            <span class="small date-color">Date Complated 2022</span>
                        </div>
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.awtaralaqar.com/"
                            target="_blank">View</a>
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img class="" src="{% static 'images/corporate.jpeg' %}" alt="game" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}