<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
  <title>Home | Fatimah Alqadheeb</title>
</head>

<body>

  <header class="container_header">
    <div><img class="header__logo" src="/static/img/logo.png" alt="logo"></div>
    <div class="header_text">
      <h1>Fatimah Alqadheeb</h1>
      <h4>Web Developer</h4>
    </div>
  </header>

  <hr class="gray_line">

  <section class="section_one">
    <div class="colors_box">
      <div class="box light_blue">
        <p>#02bb3e4</p>
      </div>
      <div class="box dark-blue">
        <p>#02bb3e4</p>
      </div>
      <div class="box light_gray">
        <p>#02bb3e4</p>
      </div>
    </div>
    <img class="main_iamge" src="/static/img/main.jpeg" alt="main image" />
  </section>
  <section class="section_two">
    <div class="featured_text">Featured Work</div>
    <div class="featuerd_section">
      <div class="featured_box"><img class="featured_img" src="/static/img/spp.jpeg" alt="app images=" />
        <h2>phone apps</h2><a href="#">http://udacity.sunflower.com</a>
      </div>
      <div class="featured_box"><img class="featured_img" src="/static/img/sunflower.jpg" alt="sun flower images=" />
        <h2>garden</h2><a href="#">http://udacity.garden.com</a>
      </div>
      <div class="featured_box"><img class="featured_img" src="/static/img/sunrise.jpeg" alt="sunrise image" />
        <h2>sunrise</h2><a href="#">http://udacity.sunrise.com</a>
      </div>

    </div>
  </section>

</body>


</html>